@charset "utf-8";
/*HEX CODES 
#C10635 dark red
#FF474E pink
#FF9375 light pink
#D0D0B3 grey
#E4EBEC light grey 
USE LIGHT BLUE FOR TEMP COLOR
*/

form{
    font-size: larger;
}

div.formTicket {
    display: flex;
    align-items: column;
    justify-content: center;   
    margin:30px;
}

p.ticketPrice {
    font-size: x-small;
    margin:0;
}

header img { 
    width: 100%;
    box-shadow: 0px 20px 20px black ;
}

div.header div.payPG a {
    background-color: #C10635 ;
}

div#cost {
    background-color: white;
    border: 1px solid;
    margin: 5px;
    padding: 0;
    width:70%;
}

div#cost p {
    background-color: white;
    margin:0;
    padding: 0;
    width:100%;
}

/*validation stuff*/
 input.event:focus:valid,
 input.mtName:focus:valid,
 input.ticket:focus:valid,
 input.credCard:focus:valid {
    background:rgb(118, 255, 118);
 }
 input.event:focus:invalid,
 input.mtName:focus:invalid,
 input.ticket:focus:invalid,
 input.credCard:focus:invalid {
    background:rgb(255, 113, 121);
 }